@page "/Iam/Users"

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Identity
@using IdentityManager.Data

@inject UserManager<ApplicationUser> UserManager

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<a href="/Iam/Users/Create" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i> Create New
</a>

<QuickGrid Class="table" Items="UserManager.Users" Pagination="@pagination">
    <PropertyColumn Property="user => user.UserName" Title="Username" />
    <PropertyColumn Property="user => user.Email" Title="Email" />

    <TemplateColumn Context="user">
        <div class="actions">
            <a href="@($"/Iam/Users/{user.Id}")">
                <i class="fa-solid fa-eye"></i>
            </a>
            <a href="@($"/Iam/Users/{user.Id}/Edit")">
                <i class="fa-solid fa-pencil"></i>
            </a>
            <a href="@($"/Iam/Users/{user.Id}/Delete")">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </div>
    </TemplateColumn>
</QuickGrid>
<Paginator State="@pagination"></Paginator>

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 20 };
}
